<div class="form-inline container">
<h2>Search Authors</h2>
<br/>
<form class="form-inline" action="/authors" method="GET">
<label>Name</label>
<div class="form-inline input-group mb-2 mr-sm-2"></div>
<input type="text" class="form-control mb-2 mr-sm-2" name="name" value="<%= searchOptions.name %>">
<button class="btn btn-primary mb-2"type="submit">Search</button>
</div>
</form>

<br>
<% authors.forEach(author => { %>
    <div class="form-inline container">
    <div class="form-group"><%= author.name %></div>
    <div class="form-group">
    <a class="btn btn-info" href="/authors/<%= author.id %>" role="button">View</a>
    <a class="btn btn-primary" href="/authors/<%= author.id %>/edit" role=button>Edit</a>
    <%- include('../partials/deleteForm', { url: `authors/${author.id}`})%>
    </div>
    </div>
<% }) %>
</div>