<div class="container">
<h2><%= author.name %></h2>
<a class="btn btn-primary" href="/authors/<%= author.id%>/edit" role="button">Edit</a>
<a class="btn btn-info" href="/authors" role="button">Cancel</a>
<%- include('../partials/deleteForm', {url: `/authors/${author.id}`}) %>

<% if (booksByAuthor.length > 0) { %>
    <h2>Books By Author</h2>
    <% booksByAuthor.forEach(book => { %>
        <a href="/books/<%= book.id%>">
            <img height="150" width="100" src="<%= book.coverImagePath %>" class="rounded">
        </a>
    <% }) %>    
<% } %>
</div>